<div class="section">

    <div class="container">

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="animated lightSpeedIn col-lg-12">
                <h1>Joris Mathijssen</h1>
                <h3>Software engineer from the Netherlands</h3>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Over deze website</h2>
                <hr>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3>Deze website is gemaakt met AngularJS</h3>
                <p>Het is mijn eerste keer met AngularJS. Maar ik kan al wel zeggen dat ik er na deze website al heel erg van van ben geworden. Het is een moeilijkere opzet fase. Maar daarna werkt alles zo veel meer fijner. Waarschijnlijk zal ik in de toekomst nog wel verder gaan met AngularJS en dan zeker weten nog een stukje WebApps en sites.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/AngularJS-large.png">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
